#header {
    text-align:center;
}

#season-buttons .spring-on,
#season-buttons .summer-on,
#season-buttons .fall-on,
#season-buttons .winter-on {
    display: none;
}

#season-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 200px;
}
#season-buttons button {
    margin: 20px;
}
#season-buttons button img {
        width: 50px;
}



#interact {
    display: flex;
    justify-content: center;
}

#interact-box {
    border: solid black 2px;
    width: 1014px;
    aspect-ratio: 1014/576;
    display: flex;
    align-items: center;
    justify-content: center;
}

#interact-box .play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
}


#interact-box .play-button img {
    max-width: 100%;
    max-height: 100%;
}

.season {
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    flex-basis: 100%;
    position: relative;
}

.spring,
.summer,
.fall,
.winter {
    display: none;
}


.spring {
    background-image: url("images/spring.jpg");
}
.summer {
    background-image: url("images/summer.jpg");
}
.fall {
    background-image: url("images/fall.jpg");
}
.winter {
    background-image: url("images/winter.jpg");
}

#interact-box.show-spring .play-button,
#interact-box.show-summer .play-button,
#interact-box.show-fall .play-button,
#interact-box.show-winter .play-button {
    display: none;
}

#interact-box.show-spring .spring {
    display: flex;
}

#interact-box.show-summer .summer {
    display: flex;
}

#interact-box.show-fall .fall {
    display: flex;
}

#interact-box.show-winter .winter {
    display: flex;
}