#header {
    text-align:center;
}
#season-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#season-buttons button {
    margin: 20px;
    
}
#interact {
    border: solid black 2px;
    margin: 200px;
}